<%- include('header'); -%>


  <div class="box">
    <% lists.forEach((item)=>{%>
      <form action="/delete" method="post">
        <div class="item">
          <input name="checkbox" type="checkbox" onchange="this.form.submit()" value="<%=item._id%>">
          <p>
            <%=item.name%>
          </p>
        </div>
        <input type="hidden" name="listName" value="<%=TitleName%>">
      </form>
      <%})%>

        <form class="item" action="/" method="post">
          <input name="listItem" type="text" placeholder="New Item">
          <button type="submit" name="list" value=<%=TitleName%>>+</button>
        </form>
  </div>

  <%- include('footer'); -%>